# dependencies
/node_modules

# testing
/coverage

# build output
/out/
/dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
!.env.example

# typescript
*.tsbuildinfo

# Database
data/
bot-hq.db

# Worktrees
.worktrees/
